class Env {
  Env._();

  static const methodBaseUrl = 'https://www.methodconf.com';
  static const sentryDsn = '';
  static const enableErrorTracking = false;
  static const enableAnalytics = false;
  static const plausibleServerUrl = 'https://plausible.sgf.dev';
  static const plausibleDomain = 'mobile.methodconf.com';
  static const umbracoBaseUrl = 'https://cms.methodconf.com';
}
