class Env {
  Env._();

  static const ticketUrl = 'https://ti.to/springfield-devs/method-conference-2020';
  static const sponsorUrl = 'https://sgf.dev/method-sponsor-form';
  static const eventDate = '2020-03-05';
  static const methodBaseUrl = 'https://methodconf.com';
  static const sentryDsn = '';
  static const reportEndpoint = '';
  static const feedbackEndpoint = '';
  static const enableErrorTracking = false;
}
